/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  min-height: 0;
  min-width: 0;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Edmonsans';
	transition: all 0.5s ease;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	cursor: pointer;
}
button{
	cursor: pointer
}

@font-face {
  font-family: 'Edmonsans';
  font-style: normal;
  font-weight: 400;
  src: local('Edmonsans'), local('Edmonsans'),
       url('./assets/fonts/Edmondsans-Regular.otf') format('opentype')
}
@font-face {
  font-family: 'Edmonsans';
  font-style: normal;
  font-weight: 500;
  src: local('Edmonsans'), local('Edmonsans'),
       url('./assets/fonts/Edmondsans-Medium.otf') format('opentype')
}
@font-face {
  font-family: 'Edmonsans';
  font-style: normal;
  font-weight: 600;
  src: local('Edmonsans'), local('Edmonsans'),
       url('./assets/fonts/Edmondsans-Bold.otf') format('opentype')
}
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: local('Avenir'), local('Avenir'),
       url('./assets/fonts/Avenir.ttc') format('TrueType')
}
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 600;
  src: local('Avenir'), local('Avenir'),
       url('./assets/fonts/Avenir-Black.otf') format('opentype')
}
.slick-dots{
	position: absolute;
	width: auto;
	right: 0;
	bottom: 0;
	padding: 6rem;
	text-align: center;
	color: white;
	vertical-align: middle;
	align-items: center;
	transition: all 0.4s ease;
	border-radius: 50%;
	font-weight: bold;
}
@media(max-width: 1024px){
	.slick-dots{
		padding: 3rem;
	}
}
@media(max-width: 480px){
	.slick-dots{
		display: none !important;
	}
}
.slick-active{
	position: absolute;
	border: 2px solid white;
	transition: all 0.4s ease;
	border-radius: 50%;
}
.slick-dots li{
	padding: 0.3rem;
	transition: all 0.4s ease;
}
.slick-dots a{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	transition: all 0.2s ease;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
		font-size: 1rem;
    color: #fff;
}
.slick-dots li button:before {
    opacity: .75;
		font-size: 1rem;
    color: #6c6c6c;
}

.slick-next{
	right: 0;
	padding: 1rem;
	z-index: 999;
}
.slick-prev{
	left: 0;
	padding: 1rem;
	z-index: 999;
}
.container{
	padding: 6rem;
}
@media(max-width:  1024px){
	.container{
		padding: 2rem;
	}
}
@media(max-width:  480px){
	.container{
		padding: 2rem;
	}
}
#slider::-webkit-scrollbar {
    display: none;
}


.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}


p::-moz-selection {
	background: linear-gradient(to right, rgba(255,183,73,1) 0%,rgba(255,38,125,1) 50%,rgba(111,23,255,1) 100%);
}
::selection {
	background: linear-gradient(to right, rgba(255,183,73,1) 0%,rgba(255,38,125,1) 50%,rgba(111,23,255,1) 100%);

}
div, img, article{
	vertical-align: top;
}
.hover-shadow{
	transition: all 0.5s ease;
}
.clickable{
	cursor: pointer;
}
.hover-shadow:hover{
	transform: scale(1.03);
	-webkit-box-shadow: 0px 0px 70px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 70px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 70px 5px rgba(0,0,0,0.2);
}
.parent-shadow:hover > img{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	margin-bottom: 100px;
}
.slick-slide img {
}
.slick-active img{
	filter: none !important;
}
@media(max-width: 480px){
  .my-masonry-grid_column{
    padding-left: 0;
  }
}
